/* Safari 4.0 - 8.0 */
@-webkit-keyframes coverAnimation {
  from {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
}
/* Standard syntax */
body {
  font-family: 'Roboto', sans-serif;
  background: url("/assets/img/adminBackground.png") !important;
}
.matchingForm {
  margin-top: 50px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 15px 35px 15px 35px;
  border-left: 8px solid #88909a;
}
h1.colorgraph {
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
h1.page-title {
  text-transform: uppercase;
  text-align: center;
  color: #800080;
  margin-top: 30px;
}
.page-subTitle {
  letter-spacing: 6.7px;
  font-weight: 300;
  font-size: 14px;
  padding-left: 8px;
  margin-top: -6px;
}
.thumb {
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  width: 250px;
}
.progress {
  width: 250px;
  height: 7px;
  margin-bottom: 0;
}
.md-input-container {
  margin: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline;
  padding: 0;
  border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0;
}
.edit {
  position: relative;
  color: inherit;
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid;
  border-color: #3f51b5;
}
.edit:focus {
  outline: none;
}
.product-group {
  position: relative;
  margin: 15px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,140,186,0.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,140,186,0.5);
  box-shadow: 0 1px 1px 0 rgba(0,140,186,0.5);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -official-transition: 0.3s;
  overflow: hidden;
}
.product-group:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,140,186,0.5);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,140,186,0.5);
  box-shadow: 0 2px 2px 0 rgba(0,140,186,0.5);
}
.product-group .image-group {
  width: 100%;
  overflow: hidden;
}
.product-group .image-group img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
  height: 200%/3;
}
.product-group .info-group {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
  border-bottom: solid 2px #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-group .info-group .info-name {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.product-group .info-group .info-name h4 {
  color: #727272;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: medium;
}
.product-group .info-group .info-detail {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 7px;
}
.product-group .info-group .info-detail p {
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
  margin-top: auto;
  margin-bottom: auto;
  color: #727272;
}
.product-group .info-group .info-detail .btn2 {
  border: solid 2px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: 1s easy;
  -webkit-transition: 1s easy;
  -moz-transition: 1s easy;
  -o-transition: 1s easy;
  -ms-transition: 1s easy;
  -official-transition: 1s easy;
}
.mobileLargeLogo {
  text-align: center;
}
.mobileLargeLogo:hover {
  text-decoration: none;
}
.mobileLargeLogo img {
  height: 180px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.mobileLargeLogo h1 {
  color: #fff;
  font-size: 32px;
  margin-top: -13px;
  letter-spacing: 1px;
  font-weight: 700;
}
.mobileMainMenu {
  position: fixed;
  top: 0;
  left: 0 !important;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
  background: #800080;
}
.mobileMainMenu ul {
  list-style-type: none;
  margin-bottom: 0;
}
.mobileMainMenu li {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 14px 7px 14px;
  text-decoration: none;
}
.mobileMainMenu li a {
  color: #fff;
  line-height: 32px;
  text-decoration: none;
  font-weight: 700;
}
md-toolbar {
  min-height: 50px;
  background: #3b5998 !important;
}
md-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #3b5998;
  text-align: center;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14), 0px 0px 2px 2px rgba(0,0,0,0.098), 0px 0px 5px 1px rgba(0,0,0,0.084);
}
.md-nav-item {
  outline: none;
  height: 48px;
}
.md-nav-item span {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
md-nav-ink-bar {
  color: #fff !important;
  background: #fff !important;
}
.banner {
  position: relative;
  background: #fff;
}
.banner .container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.banner .container-fluid .fog {
  margin-top: 48px;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.01;
}
.banner .container-fluid .bannerVideo .video {
/*height: 90vh;*/
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
}
.banner .container-fluid .bannerVideo .video #bgvid {
  display: block;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  z-index: 1;
  -moz-transform: translate(-50%, -50%) scale(1.1);
  -ms-transform: translate(-50%, -50%) scale(1.1);
  -o-transform: translate(-50%, -50%) scale(1.1);
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
  -webkit-animation-name: coverAnimation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-out;
  animation-name: coverAnimation;
  animation-duration: 20s;
  animation-timing-function: ease-out;
}
.banner .container-fluid .bannerContent {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  width: auto;
}
.banner .container-fluid .bannerContent img {
  margin-top: 15px;
  height: 200px;
  width: auto;
}
.banner .container-fluid .bannerContent p {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-weight: 300;
  color: #fff;
}
.banner .container-fluid .bannerContent .rectangle {
  border: 8px solid #fff;
}
.banner .container-fluid .bannerContent .rectangle h1 {
  color: #fff;
}
.orderNow p {
  color: #fff;
  line-height: 70px;
  margin: 0;
  font-size: x-large;
}
md-dialog.productViewer {
  overflow: hidden;
  background: transparent !important;
}
.svgSpace {
  background-color: #e5e5e5;
  padding: 30px 30px;
  border-bottom: 20px solid #3b5998;
}
.svgSpace img {
  margin-bottom: 10px;
  height: 200px;
}
.svgSpace h3 {
  font-weight: 900;
  letter-spacing: 2px;
}
.svgSpace p {
  color: #777 !important;
}
.svgSpace a {
  text-decoration: none;
}
.svgSpace a .p {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 300;
  color: #777;
  letter-spacing: 0;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  -official-transition: 1s ease;
}
.svgSpace a:hover p {
  letter-spacing: 3px;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  -official-transition: 1s ease;
}
.productList {
  padding-bottom: 50px;
}
.AdminController {
  background: url("/assets/img/adminBackground.png") !important;
}
.ProductController h3,
.AdminController h3 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.ProductController h3 span,
.AdminController h3 span {
  border-bottom: 5px solid #800080;
  transition: letter-spacing 1s ease;
  -webkit-transition: letter-spacing 1s ease;
  -moz-transition: letter-spacing 1s ease;
  -o-transition: letter-spacing 1s ease;
  -ms-transition: letter-spacing 1s ease;
  -official-transition: letter-spacing 1s ease;
}
.ProductController h3 span:hover,
.AdminController h3 span:hover {
  letter-spacing: 1px;
  transition: letter-spacing 1s ease;
  -webkit-transition: letter-spacing 1s ease;
  -moz-transition: letter-spacing 1s ease;
  -o-transition: letter-spacing 1s ease;
  -ms-transition: letter-spacing 1s ease;
  -official-transition: letter-spacing 1s ease;
}
.HomeController h2 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  font-size: 36px;
  font-weight: 600;
  color: #616161;
}
.HomeController h2 span {
  border-bottom: 5px solid #800080;
}
.HomeController .step2 h2,
.HomeController .step5 h2 {
  border-bottom: 1px solid #ccc;
}
.HomeController .step6 {
  padding: 70px 0;
  background: #fff;
}
.HomeController .step6 .imgLarge {
  width: 240px;
  height: 240px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 99;
}
.HomeController .step6 .imgSmall {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.HomeController .step6 .imgSmall img {
  width: 100%;
}
.HomeController .step6 h4 {
  font-size: 22px !important;
  font-weight: 700;
  color: #09a223;
  margin-bottom: 3px !important;
}
.HomeController .step6 .desc3 {
  color: #616161;
  line-height: 17px;
}
.HomeController .step6 .desc2 {
  padding: 15px 15px 15px 15px;
  border: 1px solid #bdbdbd;
  color: #999;
  font-size: larger;
}
.HomeController .step6 .line {
  width: 135px;
  border-bottom: 2px solid #09a223;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.HomeController .step5 {
  padding: 70px 0 !important;
  background: #e5e5e5;
}
.HomeController .step5 .mt-card-item {
  background: #fff;
  -webkit-box-shadow: 0 1px 0 #b8b8b8;
  -moz-box-shadow: 0 1px 0 #b8b8b8;
  box-shadow: 0 1px 0 #b8b8b8;
}
.HomeController .step5 .mt-card-item h4 {
  font-size: 22px !important;
  color: #3c3d64;
  margin-bottom: 3px !important;
}
.HomeController .step5 .mt-card-item .mt-card-desc2 {
  padding: 0 15px;
  color: #999;
  font-size: larger;
}
.HomeController .step4 {
  padding: 70px 0;
  background: url("/assets/img/step4-002.jpg");
}
.HomeController .step3 {
  padding: 70px 0 0 0;
}
.HomeController .step3 .productGroup {
  background: url("/assets/img/step3-010.jpg");
  padding: 50px 0;
}
.HomeController .step2 {
  padding: 70px 0;
  background: #e5e5e5;
}
.HomeController .step1 {
  padding: 70px 0;
}
.HomeController .step1 .stepIcon ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 30px;
}
.HomeController .step1 .stepIcon ul li {
  text-align: center;
  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  padding-top: 10px;
}
.HomeController .step1 .stepIcon ul li i {
  color: #09a223;
  font-size: 32px;
}
.HomeController .step1 .mt-overlay-2 {
  margin: 10px;
}
.HomeController .step1 .mt-overlay-2 img {
  width: 100%;
}
.HomeController .stepHeader .stepNumber {
  background: #09a223;
  color: #fff;
  text-align: center;
  height: 120px;
  width: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: 60px;
  font-weight: 800;
  line-height: 120px;
  margin: auto;
}
.HomeController .stepHeader p {
  color: #777;
  font-style: italic;
  font-size: 18px;
}
@-webkit-keyframes coverAnimation {
  from {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@-moz-keyframes coverAnimation {
  from {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@-o-keyframes coverAnimation {
  from {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@keyframes coverAnimation {
  from {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
}
