body {
  background: none;
  font-family: 'Roboto', sans-serif;
}
.matchingForm {
  margin-top: 50px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 15px 35px 15px 35px;
  border-left: 8px solid #88909a;
}
h1.colorgraph {
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
h1.page-title {
  text-transform: uppercase;
  text-align: center;
  color: #800080;
  margin-top: 30px;
}
.page-subTitle {
  letter-spacing: 6.7px;
  font-weight: 300;
  font-size: 14px;
  padding-left: 8px;
  margin-top: -6px;
}
.thumb {
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  width: 250px;
}
.progress {
  width: 250px;
  height: 7px;
  margin-bottom: 0;
}
.md-input-container {
  margin: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline;
  padding: 0;
  border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0;
}
.edit {
  position: relative;
  color: inherit;
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid;
  border-color: #3f51b5;
}
.edit:focus {
  outline: none;
}
.portlet.light h3 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.portlet.light h3 span {
  border-bottom: 5px solid #800080;
  transition: letter-spacing 1s ease;
}
.portlet.light h3 span:hover {
  letter-spacing: 1px;
  transition: letter-spacing 1s ease;
}
