<div class="landing" ng-controller="HomeController" ng-init="init()">

    <div class="banner">
        <div class="container-fluid">
            <div class="fog">
            </div>

            <div class="bannerVideo">

                <div class="video" ng-style="{'height': videoHeight + 'px'}">

                    <img id="bgvid" src="assets/img/home-cover.jpg" alt="">
                </div>
            </div>

            <div class="bannerContent">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center rectangle">
                        <img src="assets/img/logo.svg" style="height: 200px">
                        <h1>Modern Asset In Town</h1>
                        <p>Sed ut perspiciatis unde under business omnis iste natus agent error sit</p>
                        <div class="dt-buttons" style="margin-top:10px;margin-bottom:20px;float: none">
                            <a class="btn dark btn-outline green active" ng-click="signOut()">
                                <span>Tìm hiểu ngay</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="step1">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="row stepHeader">
                                <div class="col-md-4 text-center">
                                    <h1 class="stepNumber">01</h1>
                                </div>
                                <div class="col-md-8">
                                    <h2><span>Properties to sell</span></h2>
                                    <p>We take a broader, more holistic all</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font-size: 36px;font-weight: 800; color: #999;text-align: right">$15000</p>
                                    <p style="font-size: 16px;text-align: right">But I must explain you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                </div>
                            </div>
                            <div class="row stepIcon">
                                <div class="col-md-12">
                                    <ul layout="row" layout-align="center">
                                        <li>
                                            <i class="material-icons">grade</i>
                                            <p>Chất lượng</p>
                                        </li>
                                        <li>
                                            <i class="material-icons">flight_takeoff</i>
                                            <p>Nhanh chóng</p>
                                        </li>
                                        <li>
                                            <i class="material-icons">favorite</i>
                                            <p>Nhiệt tình</p>
                                        </li>
                                        <li>
                                            <i class="material-icons">query_builder</i>
                                            <p>Hỗ trợ 24/7</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-6 mt-element-overlay">

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="mt-overlay-6">
                                <img src="/assets/img/step1-001.jpg">
                                <div class="mt-overlay">
                                    <h2>Overlay</h2>
                                    <p>
                                        <a class="mt-info uppercase btn default btn-outline" href="#">Tìm hiểu ngay</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="mt-element-overlay" style="margin-top:100px">
                <div class="row">

                    <div class="col-md-4">
                        <div class="mt-overlay-2">
                            <img src="/assets/img/step1-002.jpg" alt="">
                            <div class="mt-overlay">
                                <h2>Overlay</h2>
                                <a class="mt-info btn default btn-outline" href="#">Tìm hiểu ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-overlay-2">
                            <img src="/assets/img/step1-003.jpg" alt="">
                            <div class="mt-overlay">
                                <h2>Overlay</h2>
                                <a class="mt-info btn default btn-outline" href="#">Tìm hiểu ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-overlay-2">
                            <img src="/assets/img/step1-004.jpg" alt="">
                            <div class="mt-overlay">
                                <h2>Overlay</h2>
                                <a class="mt-info btn default btn-outline" href="#">Tìm hiểu ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="step2">

        <div class="container">
            <div class="row">

                <div class="col-md-6 mt-element-overlay">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="mt-overlay-6" style="height:400px;overflow: hidden">
                                <img src="/assets/img/step2-001.jpg">
                                <div class="mt-overlay">
                                    <h2>Overlay</h2>
                                    <p>
                                        <a class="mt-info uppercase btn default btn-outline" href="#">Tìm hiểu ngay</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="row">

                        <div class="col-md-10">
                            <div class="row stepHeader">
                                <div class="col-md-8">
                                    <h2><span>Property Features</span></h2>
                                    <p>We take a broader, more holistic all</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h1 class="stepNumber">02</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font-size: 24px;font-weight: 800; color: #999;text-align: left; margin-top: 30px">Room Dimension</p>
                                    <p style="font-size: 16px;text-align: left">But I must explain you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>


                </div>

            </div>


        </div>

    </div>

    <div class="step3">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="row stepHeader" style="padding-top: 100px">
                                <div class="col-md-4 text-center">
                                    <h1 class="stepNumber">03</h1>
                                </div>
                                <div class="col-md-8">
                                    <h2><span>Deal with us</span></h2>
                                    <p>We take a broader, more holistic all</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font-size: 36px;font-weight: 800; color: #999;text-align: right">Get our contact now</p>
                                    <p style="font-size: 16px;text-align: right">But I must explain you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 mt-element-overlay">

                    <div class="row">
                        <div class="col-md-9">
                            <img src="/assets/img/step3-001.png">
                        </div>
                        <div class="col-md-3"></div>
                    </div>


                </div>

            </div>

        </div>
        <div class="container-fluid productGroup">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" ng-repeat="x in [2,3,4,5,6,7,8,9]">

                        <div class="product-group">
                            <a>
                                <div class="image-group">
                                    <img ng-src="/assets/img/step3-00{{x}}.jpg" set-height>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="step4">

        <div class="container">
            <div class="row">

                <div class="col-md-6 mt-element-overlay">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="mt-overlay-6" style="height:400px;overflow: hidden">
                                <img src="/assets/img/step2-001.jpg">
                                <div class="mt-overlay">
                                    <h2>Overlay</h2>
                                    <p>
                                        <a class="mt-info uppercase btn default btn-outline" href="#">Tìm hiểu ngay</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="row">

                        <div class="col-md-10">
                            <div class="row stepHeader">
                                <div class="col-md-8">
                                    <h2><span>Property Features</span></h2>
                                    <p>We take a broader, more holistic all</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h1 class="stepNumber">04</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font-size: 24px;font-weight: 800; color: #999;text-align: left; margin-top: 30px">Room Dimension</p>
                                    <p style="font-size: 16px;text-align: left">But I must explain you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>


                </div>

            </div>


        </div>

    </div>

    <div class="step5">

        <div class="container">
            <div class="row" style="margin-bottom: 50px">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="row stepHeader">
                                <div class="col-md-4 text-center">
                                    <h1 class="stepNumber">05</h1>
                                </div>
                                <div class="col-md-8">
                                    <h2><span>Deal with us</span></h2>
                                    <p>We take a broader, more holistic all</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mt-element-card mt-element-overlay">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1">
                                <img src="/assets/img/step5-001.jpg">
                            </div>
                            <div class="mt-card-content">
                                <h4 class="mt-card-name">Mark Anthony</h4>
                                <p class="mt-card-desc font-grey-mint">Managing Director</p>
                                <p class="mt-card-desc2">But I must explain to you how all this idea view policy. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                                <img src="/assets/img/step5-002.jpg">
                            </div>
                            <div class="mt-card-content">
                                <h4 class="mt-card-name">Denzel Wash</h4>
                                <p class="mt-card-desc font-grey-mint">Finance Director</p>
                                <p class="mt-card-desc2">But I must explain to you how all this idea view policy. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-up">
                                <img src="/assets/img/step5-003.jpg">
                            </div>
                            <div class="mt-card-content">
                                <h4 class="mt-card-name">David Goodman</h4>
                                <p class="mt-card-desc font-grey-mint">Creative Director</p>
                                <p class="mt-card-desc2">But I must explain to you how all this idea view policy. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-left">
                                <img src="/assets/img/step5-004.jpg">
                            </div>
                            <div class="mt-card-content">
                                <h4 class="mt-card-name">Lucy Ling</h4>
                                <p class="mt-card-desc font-grey-mint">HR Director</p>
                                <p class="mt-card-desc2">But I must explain to you how all this idea view policy. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="step6">

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                </div>

                <div class="col-md-6">

                    <div class="row">

                        <div class="col-md-10">
                            <div class="row stepHeader">
                                <div class="col-md-8">
                                    <h2><span>Property Features</span></h2>
                                    <p>We take a broader, more holistic all</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h1 class="stepNumber">06</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>


                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-md-push-1 text-center" style="z-index: 999">
                            <img class="imgLarge" src="/assets/img/step6-001.jpg">

                        </div>
                        <div class="col-md-9">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <h4>RADISLAV GANDAPAS</h4>
                                            <p>CEO & Founder Aothun.com.vn</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row desc2">

                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <p>Tôi rất hài lòng về sản phẩm dịch vụ của bạn. Doanh số bán hàng của chúng tôi tăng lên đáng kể,
                                                khách hàng cũng phản hồi tích cực. Hy vọng chúng ta có nhiều cơ hội làm việc với nhau hơn. </p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="slogan">Sự hài lòng của khách hàng chính là thành công lớn nhất của chúng tôi</p>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <div class="imgSmall">
                                        <img src="/assets/img/step6-002.jpg">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h4>LÊ THÙY</h4>
                                    <p>Chủ tịch và sáng lập MaxVN</p>
                                    <p class="desc3">Tôi rất hài lòng về sản phẩm dịch vụ của bạn. Hy vọng chúng ta có nhiều cơ hội làm việc với nhau hơn</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <div class="imgSmall">
                                        <img src="/assets/img/step6-003.jpg">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h4>KHƯƠNG DƯƠNG</h4>
                                    <p>Phó giám đốc Chuỗi cửa hàng Riot</p>
                                    <p class="desc3">Tôi rất hài lòng về sản phẩm dịch vụ của bạn. Hy vọng chúng ta có nhiều cơ hội làm việc với nhau hơn</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <div class="imgSmall">
                                        <img src="/assets/img/step6-004.jpg">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h4>THÁI TRÂM</h4>
                                    <p>Bậc thầy kinh doanh nước hoa</p>
                                    <p class="desc3">Tôi rất hài lòng về sản phẩm dịch vụ của bạn. Hy vọng chúng ta có nhiều cơ hội làm việc với nhau hơn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>